* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: #ffffff;

}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
}

p {
    font-size: 1.5rem;
    font-weight: 400;
}

.header {
    width: 100%;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/bg_1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 20px 10%;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
}

.nav-logo {
    width: 9.05rem;
    height: 2.75rem;
    margin-left: 45px;
}

.btn-language {
    margin: 0;
    margin-left: 60%;
    display: inline-flex;
    align-items: center;
    background: black;
    border: 1px solid #776f6f;
    padding: 0px 17px;
    color: #ffffff;
    border-radius: 6px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 2rem;
    cursor: pointer;

}

.btn-language-down-icon {
    width: 10px;
    margin-left: 10px;
}

.btn-sigin {
    margin-left: 10px;
    display: inline-flex;
    margin: 0;
    margin-right: 35px;
    outline: 0;
    cursor: pointer;
    align-items: center;
    padding: 2px 15px;
    font-size: 14px;
    text-decoration: none;
    font-weight: 600;
    line-height: 2rem;
    vertical-align: middle;
    box-sizing: border-box;
    border: 0px solid;
    border-radius: 6px;
    position: relative;
    color: #ffffff;
    background-color: #E50914;
    border-color: #1b1f2326;
    -webkit-box-pack: center;
    justify-content: center;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;


}

.btn-sigin:hover {
    background-color: #ae1313fb;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}

.header-contents {
    position: absolute;
    top: 100px;
    margin-left: 7%;
    text-align: center;
    transform: translate(-10%, 50%);

}

.header-contents h1 {
    font-weight: 900;
    font-size: 45px;
}

.header-contents p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 3rem;
}

.header-contents h5 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 3rem;
}

.email-signup {
    padding: 15px;
    display: inline-flex;

}

.email-box {
    width: 400px;
    height: 55px;
    background: transparent;
    color: white;
    border-radius: 6px;
    border-color: #ae9696a1;
    font-size: 15px;
    padding: 15px;
    font-weight: 600;

}

.btn-get-started {
    transition-timing-function: cubic-bezier(0.5, 0, 0.1, 1);
    background: #E50914;
    border: none;
    border-radius: 6px;
    width: 160px;
    height: 55px;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-left: 15px;
    cursor: pointer;
}

.btn-get-started:hover {
    background-color: #b21b1bfb;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}


.divider-grey {
    width: 100%;
    height: 1vh;
    background-color: rgb(44, 42, 42);
}

.section-tv {
    width: 100%;
    height: 70vh;
    background-color: black;
}

.section-tv-content {
    text-align: start;
    transform: translate(10%, 130%);
}

.section-tv-content h2 {
    margin-bottom: 10px;
}

.tv-img {
    margin-left: 50%;
    margin-top: -6%;
    height: 460px;
}

.section-download {
    width: 100%;
    height: 70vh;
    background-color: black;
    display: flex;

}

.download-img {
    width: 425px;
    margin-top: 4%;
    margin-left: 17%;

}

.section-download-content {
    margin-left: 5%;
    margin-top: 10%;
}


.section-download-content p {
    margin-top: 2%;
}

.section-watch {
    width: 100%;
    height: 70vh;
    background-color: black;
}

.section-watch-contents {
    text-align: start;
    transform: translate(10%, 130%);
}

.section-watch-contents h2 {
    margin-bottom: 10px;
}

.section-watch-contents p {
    font-size: 1.5rem;
    font-weight: 400;
}

.watch-img {
    margin-left: 52%;
    margin-top: -4%;
    height: 390px;
    width: 38%;
}

.section-kids {
    width: 100%;
    height: 70vh;
    background-color: black;
    display: flex;
}

.section-kids img {
    margin-left: 12%;
    margin-top: 5%;
    width: 35%;
}

.section-kids-contents {
    margin-left: 2%;
    margin-top: 14%;
}

.section-kids-contents p {
    margin-top: 2%;
}

.section-questions {
    width: 100%;
    height: 120vh;
    background-color: black;
    text-align: center;
    padding: 65px 0px;
}

.section-questions h2 {
    margin-bottom: 35px;
}

.listview-item {
    background-color: #80808061;
    display: flex;
    width: 80%;
    margin-left: 10%;
    justify-content: space-between;
    padding: 25px;
    margin-top: 10px;
    cursor: pointer;


}
.listview-item:hover{
    background-color: #686464a5;
    border-color: none;
    transition-duration: 0.1s;
}


.icon-plus {
    font-weight: 300;
    font-size: 45px;
    margin-top: -28px;
}

.section-questions h3 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
    margin-top: 3%;
}

.footer {
    width: 100%;
    height: 65vh;
    background-color: black;
    padding: 85px 175px;
}

.btn-language-footer {
    margin: 0;
    display: inline-flex;
    align-items: center;
    background: black;
    border: 1px solid #776f6f;
    padding: 0px 17px;
    color: #ffffff;
    border-radius: 6px;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 2rem;
    margin-top: 40px;
    margin-bottom: 20px;
    cursor: pointer;

}

.btn-language-down-icon {
    width: 10px;
    margin-left: 10px;
}

.footer-txt {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1rem;
    font-weight: 450;
    margin-bottom: 20px;
}

.footer-txt-2 {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.items {
    display: flex;
    justify-content: space-between;
    margin-right: 25%;
}

ul {
    list-style: none;
}

li {
    margin-top: 14px;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
    font-size: 0.875rem;
    cursor: pointer;
}